.idea/
*.iml
.settings/
.gradle
/local.properties
.DS_Store
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat